{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <div class="row">
        <div class="left">
            <img src="{% static 'askIt/profilePic.png' %}" alt="Profile Picture" class="profilePic"> <br>
            <div class="profileName"> {{user.username}} </div>
            
        </div>

        <div class="right">
            <ul class="list">
                <li> This dashboard is only visible to you. </li>
                <li> To access the public view, <a href="http://127.0.0.1:8000/{{user.username}}" class="linkColor" > click here </a> </li>
                <li> Share the link below of your public profile with others, to let them ask you questions anonymously</li>
            </ul>
            <div class="link"> 
                <a href="http://127.0.0.1:8000/{{user.username}}"class="linkColor" > http://127.0.0.1:8000/{{user.username}} </a> 
            </div>
        </div>
    </div>    

    <div class="questionsHeader">
        All the unanswered questions asked for you will appear here (Latest question at the top) :
    </div>

    <div class="section-2" id="section-2">

        {% if questions %}
            {% for question in questions %}

                <div class="box">
                    <div class="question" id = "question{{question.id}}">

                        <div class="name" style="display: inline;"> {{question.randomPoster}} </div>
                        <div class="timestamp" style="display: inline;"> {{question.timestamp}}  </div>

                        <div class="content">
                            Q: {{question.content}} <br>
                        </div>

                        <div class="ans-btn">
                            <button class="btn btn-secondary" id="answer-btn{{question.id}}" > Answer </button>
                        </div>
                    </div>
                </div>
                <div>
                    {% if answers %}
                        {% for answer in answers %}
                            {% if answer.question == question %}
                            <div class="answer-box">
                                {{answer.content}} <br>
                                <div class="answered-by"> Answered by {{answer.randomPoster}} on {{answer.timestamp}} </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div>

                    <div class="answerQuestion" id="answerQuestion{{question.id}}" style="display: none;">
                        <form action="{% url 'access' user.username %}" method="POST" id="answer-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <h4> Answer Question </h4>
                            </div>

                            <!-- Pass the question id -->
                            <input class="question-id" name="question-id" type="hidden" value="{{question.id}}">

                            <div class="form-group">
                                <textarea class="answer-content form-control" id="answer-content{{question.id}}" name="answerContent" rows="10" required>  </textarea>
                            </div>
                            <div class="form-group">
                                <input class="answer-form-submit btn btn-primary" id="answer-form-submit{{question.id}}"  type="submit" value="Answer"/> 
                            </div>
                        </form>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <h4> -- No more questions to answer ! </h4>
            
        {% endif %}
</div>
   

{% endblock %}


{% block script %}
    <script src="{% static 'askIt/main.js' %}" ></script>
{% endblock %}
