{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}


    <br><br><br> Ask any question to the community anonymously without disclosing who you are! <br><br><br>
    <div class="box">
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h4> Ask Anything </h4>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Ask a question here" name="content" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit"> Ask </button>
            </div>
        </form>
    </div>
    <br> To let people ask you questions anonymously, please login (it's FREE) <br><br><br><br><br><br><br><br><br><br><br><br>

    {% for question in questions %}

        <div class="box">
            <div class="question" id = "question{{question.id}}">
                {{question.content}} <br>
                {{question.timestamp}} <br>
    
                {% if question.poster == None %}
                    {{question.randomPoster}} <br>
                {% else %}
                    {{question.poster}} <br>
                {% endif %}
                <button class="answer-btn" id="answer-btn{{question.id}}" > Answer </button>
            </div>

            <div>
                {% if answers %}
                    {% for answer in answers %}
                        {% if answer.question == question %}
                            {{answer.content}} <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="answerQuestion" id="answerQuestion{{question.id}}" style="display: none;">
                <form action="{% url 'index' %}" method="POST" id="answer-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <h6> Answer Question </h6>
                        <h8> {{question.content}} </h8>
                    </div>

                    <!-- Pass the question id -->
                    <input class="question-id" name="question-id" type="hidden" value="{{question.id}}">

                    <div class="form-group">
                        <textarea class="answer-content form-control" id="answer-content{{question.id}}" name="answerContent" required></textarea>
                    </div>
                    <div class="form-group">
                        <input class="answer-form-submit btn btn-primary" id="answer-form-submit{{question.id}}"  type="submit" value="Answer"/> 
                    </div>
                </form>
            </div>
        </div>

    {% endfor %}

{% endblock %}


{% block script %}
    <script src="{% static 'askIt/main.js' %}" ></script>
{% endblock %}