{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <body style="background-color: black;"> 

        <div class="row">
        
            <div class="spyPageLeft">
                <img src="{% static 'askIt/spy.jpg' %}" alt="Spy image" class="spyImage" id="spyImageOne" style="display: inline;">
            </div>

            <div class="spyPageRight">

                <div class="spyPageHeading">
                    <h3> AHA! Lights . .  </h3> <br><br>
                </div>
                <div class="spyPageContent">
                    Add <p style="display: inline; color: yellowgreen;"> <strong>ask-itt.herokuapp.com/secret-spy/</strong> </p> before the word for the next clue ! <br>

                    <img src="{% static 'askIt/spyTwo.png' %}" alt="Hint">
                    
                </div>
            </div>
    
        </div>

    </body>
{% endblock %}


{% block script %}
    <script src="{% static 'askIt/main.js' %}" ></script>
{% endblock %}