{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <body style="background-color: black;"> 

        <div class="row">
        
            <div class="spyPageLeft">
                <img src="{% static 'askIt/spy.jpg' %}" alt="Spy image" class="spyImage" id="spyImageOne" style="display: inline;">
            </div>

            <div class="spyPageRight">

                <div class="spyPageHeading">
                    <h3> AHA! Finally! </h3> <br><br>
                </div>
                <div class="spyPageContent">    
                    Congratulations! You found out all the 4 clues. <br>
                    <a href="{% url 'secretSpyFinal' %}">Click Here </a> to see if you won! <br><br>

                    
                    <img src="{% static 'askIt/spyFour.png' %}" alt="congratulations">
                    
                </div>
            </div>
    
        </div>

    </body>
{% endblock %}

