{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <body style="background-color: black;"> 

        <div class="row">
        
            <div class="spyPageLeft">
                <img src="{% static 'askIt/spy.jpg' %}" alt="Spy image" class="spyImage" id="spyImageOne" style="display: inline;">
            </div>

            <div class="spyPageRight">

                <div class="spyPageHeading">
                    <h3> Magnifying Glasses! </h3> <br><br>
                </div>
                <div class="spyPageContent">
                    From now on, you have to find a word/code. <br><br>
                    Add <p style="display: inline; color: yellowgreen;"> <strong>http://127.0.0.1:8000/secret-spy/</strong> </p> before the word for the next clue ! <br>

                    <img src="{% static 'askIt/spyOne.png' %}" alt="Hint">

                    <div style="color: black; background-color: black; width: 175px; text-align: center;" id="hintOne"> hamilton-nash </div>
                </div>
            </div>
    
        </div>

    </body>
{% endblock %}


{% block script %}
    <script src="{% static 'askIt/main.js' %}" ></script>
{% endblock %}