{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <body style="background-color: black;"> 

        <div class="row">
        
            <div class="spyPageLeft">
                <img src="{% static 'askIt/spy.jpg' %}" alt="Spy image" class="spyImage" style="display: inline;">
            </div>

            <div class="spyPageRight">

                <div class="spyPageHeading">
                    <h3> WELCOME HACKER! </h3> <br><br>
                </div>
                <div class="spyPageContent">
                    Welcome to the Spy's hub! <br>
                    Firstly, congratulations for finding about this! <br><br>

                    For this easter egg, use the detective in you to help solve the mystery! <br><br>

                    Find and go through the clues to arrive at your final destination! <br><br>
                    
                    <strong>
                    Q. What is the final destination ? <br>
                    A. You may get to unlock the ability to know the real name of person who asked questions instead of 'Anonymous' ! <br><br>
                    </strong>

                    Interesting, isn't it ? What are you waiting for then ? <br>
                    Your first clue is at the 'root' of the page! <br>
                </div>
            </div>
    
        </div>

    </body>
{% endblock %}

{% block footer %}
    <div class="footer">
        Magnifying Glasses! <a href="{% url 'secretSpyOne' %}" class="linkColor" > Click Here </a>
    </div>
{% endblock %}
