{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <body style="background-color: black;"> 

        <div class="row">
        
            <div class="spyPageLeft">
                <img src="{% static 'askIt/spy.jpg' %}" alt="Spy image" class="spyImage" id="spyImageOne" style="display: inline;">
            </div>

            <div class="spyPageRight">

                <div class="spyPageHeading">
                    <h3> Oops! Ahahaha! </h3> <br><br>
                </div>    
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <br><br>
                <div class="spyPageContent">  
                    We value the privacy of our users, and hence cannot share the name's at any cost. <br>
                    Infact, we don't even ask the user for their name when questioning/answering, and thus in no way can we aswell find the name. <br><br><br><br>

                    However, don't be sad. Cheer up, that you made it till the end. <br>
                    To cheer you up, we have a small little achievement for you, which you can share with your friends, and challenge them to complete this easter egg ! <br><br>
                    
                    <img src="{% static 'askIt/achievement.png' %}" alt="achievement">
                </div>
            </div>
    
        </div>

    </body>
{% endblock %}

