{% extends "askIt/layout.html" %}
{% load static %}

{% block body %}

    <div class="row">
        <div class="left">
            <img src="{% static 'askIt/profilePic.png' %}" alt="Profile Picture" class="profilePic"> <br>
            <div class="profileName"> {{user.username}} </div>
            
        </div>

        <div class="right">
            <form action="{% url 'user' user.username %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <h4> Ask something from {{user.username}} anonymously </h4>
                </div>
                <div class="form-group">
                    <textarea placeholder="Ask a question here" name="userQuestion" rows="4" cols="70" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit"> Ask </button>
                </div>
            </form> <br><br>
        </div>
    </div>
    
    <div class="questionsHeader">
        All the questions answered by {{user.username}} will show here :
    </div>

    <div class="section-2" id="section-2">

        {% if questions %}

            {% for question in questions %}

                <div class="box">
                    <div class="question" id = "question{{question.id}}">

                        <div class="name" style="display: inline;"> {{question.randomPoster}} </div>
                        <div class="timestamp" style="display: inline;"> {{question.timestamp}}  </div>

                        <div class="content">
                            Q: {{question.content}} <br>
                        </div>

                    </div>
                </div>
                <div>
                    {% if answers %}
                        {% for answer in answers %}
                            {% if answer.question == question %}
                            <div class="answer-box">
                                {{answer.content}} <br>
                                <div class="answered-by"> Answered by {{answer.answerPoster}} on {{answer.timestamp}} </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            {% endfor %}

        {% else %}
            <h4> No questions answered yet ! </h4>
        {% endif %}
    </div>
   

{% endblock %}

